<!DOCTYPE html>
<html lang="en">
  <head>
     <link rel="stylesheet" type="text/css" href="/reset.css"/>
     <link rel="stylesheet" type="text/css" href="/style.css"/>
     <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700'
           rel='stylesheet' type='text/css'>
     <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
     <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
     <script src="/moment-duration-format.js"></script>
     
     <script src="/javascripts.js"></script>
     <script src="/bigtext.js"></script>
     <title>Zucko</title>
  </head>  
  <body>
    <div class='main'>

      <h2>
        Kad će <span class="zucko">Žućko</span> za <a href="/za/<%= @presenter.origin %>"><b><%= @presenter.destination.capitalize %></b></a>?
      </h2>

      <ul>
        <% @presenter.future_departures.each do |bus| %>
          <li class="big" title="<%= bus.time %>">
            za <span class="time"><%= bus.from_now_in_seconds %></span>
          </li>
          <li>
            iliti u <%= bus.time.strftime("%H:%M") %>
          </li>
        <% end %>
      </ul>

      <hr/>
      <h2>
        Kad je bio <span class="zucko">Žućko</span> za <a href="/za/<%= @presenter.origin %>"><b><%= @presenter.destination.capitalize %></b></a>?
      </h2>

      <ul>
        <li class="big" title="<%= @presenter.last_departure.time %>">
          prije <span class="time"><%= @presenter.last_departure.from_now_in_seconds %></span>
        </li>
        <li>
          iliti u <%= @presenter.last_departure.time.strftime("%H:%M") %>
        </li>
      </ul>

    </div>

    <div class='footer'>
      Danas je <b><%= @presenter.day_type %></b>, dan za avanturu sa Žućkom.
    </div>

    <script type='text/javascript'>
      $(window).load(function(){
        $(".main").bigtext({
          childSelector: "li.big, h2"
        });
      });

      $(document).ready(function(){
        $("span.time").each(function(){
          var seconds = parseInt($.trim($(this).text())); 
          $(this).text(moment.duration(seconds, "seconds").format("h [hr] m [min]"));
        });
      });
    </script>
  </body>
</html>
