<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.blue-yellow.min.css" /> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kad će Žućko?</title>
  </head>
  <body>
    <div class='mdl-layout mdl-js-layout mdl-layout--fixed-header'>
      <%= erb :header %> 

      <main class="mdl-layout__content">
        <div class='page-content'>
          <% if @presenter.departures[:past] %>
            <%= erb :card, locals: {title: "Prijašnji", departure: @presenter.departures[:past]}%>
          <% end %>
          <% if @presenter.departures[:previous] %>
            <%= erb :card, locals: {title: "Prethodni", departure: @presenter.departures[:previous], id: "previous-departure"}%>
          <% end %>
          <% if @presenter.departures[:current] %>
            <%= erb :card, locals: {title: "Trenutni", departure: @presenter.departures[:current]} %>
          <% end %>
          <% if @presenter.departures[:next] %>
            <%= erb :card, locals: {title: "Sljedeći", departure: @presenter.departures[:next]}%>
          <% end %>
          <% if @presenter.departures[:future] %>
            <%= erb :card, locals: {title: "Budući", departure: @presenter.departures[:future]}%>
          <% end %>
        </div>
      </main>

      <%= erb :footer %>
    </div>
  </body>

  <script type='text/javascript'>
    document.getElementById("previous-departure").scrollIntoView();
  </script>
</html>
